@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #234ed8;
  text-align: start;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}
.App-mid {
  background-color: #7b97d1;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-bot{
  background-color: #36589b;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}
.App-link {
  color: #d150a0;
  font-size: calc(15px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
